body{
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url("./img/pattern.png");
    background-color: rgb(57, 123, 211);
    background-size: 20%;
}

.logo {
    max-height: 50%;
    width: 150px;
    padding-top: 20px;
}       

section{
    width: 1000px;
    margin: auto;
}

.title{
    font-size: 25px;
    margin-bottom: 0px;
}

address{
    color: gray;
}

.booleaner{
    color: rgb(50, 162, 236);
}

.date{
    font-size: small;
    margin-top: 0%;
    font-weight: 100;
    color: gray;
}

.image_description{
    font-size: small;
}

.loremipsum{
    margin-top: 40px;
}

.lorem{
    background-color: yellow;
}

.unordered{
    margin-top: 40px;
}

table{
    table-layout: fixed;
    width: 1000px;
    text-align: left;
    border-collapse: collapse;
    font-size: small;
}

thead{
    background-color: rgb(28, 92, 129);
    color: white;
}

.color_tr{
   background-color:  rgb(1, 159, 250);
}